<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <my-first></my-first> -->
<!-- <app-cli></app-cli> -->
<!-- <app-my-first1></app-my-first1> -->
<!-- <app-category></app-category> -->
<!-- <app-book></app-book> -->
 <!-- <app-books></app-books>  -->
<!-- <app-borrower></app-borrower>  -->
<!-- <app-lendings></app-lendings> -->
<h1  [class.library]="true" >הספריה שלנו</h1>
<app-menu></app-menu>
<router-outlet></router-outlet>
<!-- <app-lending-form></app-lending-form> -->
<!-- <app-borrower-form></app-borrower-form> -->